{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% set player_1={'name':form.name_1,'chips':form.chips_1,'avatar':form.avatar_1} %}
{% set player_2={'name':form.name_2,'chips':form.chips_2,'avatar':form.avatar_2} %}
{% set player_3={'name':form.name_3,'chips':form.chips_3,'avatar':form.avatar_3} %}
{% set player_4={'name':form.name_4,'chips':form.chips_4,'avatar':form.avatar_4} %}
{% set form_list=[player_1,player_2,player_3,player_4]%}

    <h1>Player Register</h1>
    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}


    <div class="form_container">
    {% for player in form_list %}
            <div class="player_form">
                <h2>Player {{ loop.index }}</h2>
                <p>
                    {{ player['name'].label }}<br>
                    {{ player['name'](size=20) }}
                    <span>{{ player['name'].errors[0] }}</span>
                </p>
                <p>
                    {{ player['chips'].label }}<br>
                    {{ player['chips']() }}
                    <span>{{ player['chips'].errors[0] }}</span>
                </p>
                <p>
                    {{ player['avatar'].label }}<br>
                    {% for radio in player['avatar'] %}
                        {{ radio }}
                        <img class="avatar_form" src="{{ url_for('static', filename='images/faces/'+radio.label|striptags) }}">
                        {% if loop.index==2 %}
                            <br>
                        {% endif %}
                    {% endfor %}
                    <span>{{ player['avatar'].errors[0] }}</span>
                </p>
            </div>
    {% endfor %}
    </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}